* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;}

.container {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    
    border-radius: 10px;
    align-items: center;
    height: 450px;
    width: 300px;
}

.qr-code-image img {
    display: flex;
    justify-content: center;
    height: 90%;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.text {
    text-align: center;
}

.description {
    margin-top: 10px;
}